@model Subastas.Dto.UsuarioCuentaViewModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h4>Usuario</h4>
            <div class="form-group mb-2">
                <label class="control-label">@Html.DisplayNameFor(model => model.Usuario.NombreUsuario)</label>
                <p class="form-control-static">@Html.DisplayFor(model => model.Usuario.NombreUsuario)</p>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">@Html.DisplayNameFor(model => model.Usuario.ApellidoUsuario)</label>
                <p class="form-control-static">@Html.DisplayFor(model => model.Usuario.ApellidoUsuario)</p>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">@Html.DisplayNameFor(model => model.Usuario.CorreoUsuario)</label>
                <p class="form-control-static">@Html.DisplayFor(model => model.Usuario.CorreoUsuario)</p>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">@Html.DisplayNameFor(model => model.Usuario.EstaActivo)</label>
                <p class="form-control-static">@Html.DisplayFor(model => model.Usuario.EstaActivo)</p>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <h4>Cuenta</h4>
            <div class="form-group mb-2">
                <label class="control-label">Saldo</label>
                <p class="form-control-static">@Model.Cuenta.Saldo.ToString("C")</p>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Cuenta Activa</label>
                <p class="form-control-static">@Model.Cuenta.EstaActivo</p>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-dark" onclick="showPayPalModal()">Cargar Saldo con PayPal</button>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <a asp-action="Edit" asp-route-id="@Model.Usuario.IdUsuario" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function showPayPalModal() {
            Swal.fire({
                title: 'Cargar Saldo con PayPal',
                html: `
                            <input type="number" id="amount" class="swal2-input" placeholder="Ingrese el monto" min="1">
                        `,
                showCancelButton: true,
                confirmButtonText: 'Cargar',
                cancelButtonText: 'Cancelar',
                preConfirm: () => {
                    const amount = Swal.getPopup().querySelector('#amount').value;
                    if (!amount || amount <= 0) {
                        Swal.showValidationMessage('Por favor, ingrese un monto válido');
                    }
                    return { amount: amount };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const amount = result.value.amount;
                    cargarSaldo(amount);
                }
            });
        }

        function cargarSaldo(amount) {
            $.ajax({
                url: '@Url.Action("CargarSaldo", "Usuario")',
                type: 'POST',
                data: { amount: amount, userId: '@Model.Usuario.IdUsuario' },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'El saldo se ha cargado correctamente.'
                        }).then(() => {
                            location.reload();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un problema al cargar el saldo. Inténtelo nuevamente.'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un problema al cargar el saldo. Inténtelo nuevamente.'
                    });
                }
            });
        }
    </script>
}
