@model IEnumerable<Subastas.Domain.Subasta>

@{
    ViewData["Title"] = "Subastas";
}

<link rel="stylesheet" href="~/css/SubastasIndex.css" asp-append-version="true" />

<h1>Subastas</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100" onclick="location.href='@Url.Action("Details", new { id = item.IdSubasta })'" style="cursor: pointer;">
                <img src="@(item?.IdProductoNavigation?.ImagenProducto ?? "https://www.cruiseloloma.co.nz/wp-content/uploads/2014/12/placeholder-400x300.jpg")"
                     class="card-img-top img-fixed-size" alt="@item.TituloSubasta">
                <div class="card-body">
                    <h5 class="card-title">@item.TituloSubasta</h5>
                    <p class="card-text">Monto Inicial: @item.MontoInicial</p>
                    <p class="card-text">Activo: @(item.EstaActivo ? "Sí" : "No")</p>
                </div>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Edit", new { id = item.IdSubasta })" class="btn btn-secondary text-white mx-2">Edit</a>
                        <a href="@Url.Action("Delete", new { id = item.IdSubasta })" class="btn btn-danger text-white mx-2">Delete</a>
                    </div>
                }
            </div>
        </div>
    }
</div>