@model Subastas.Domain.LogEntry

@{
    ViewData["Title"] = "Detalles";
}

<div class="create">
    <div class="justify-content-left btn-return">
        <img src="/assets/img/icons/returnIcon.png" alt="Regresar" height="40px">
        <a asp-action="Index">Regresar</a>
    </div>
    <br />
    <h1>Detalles</h1>
    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Source)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Source)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateLog)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateLog)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Exception)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Exception)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EventId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EventId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EventName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EventName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.InnerExceptionMessage)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.InnerExceptionMessage)
            </dd>
        </dl>
    </div>
</div>